#!/usr/bin/env bash
echo "Setting up system management variables ..."

function add_to_path() {
  # Add the directory to PATH only if it exists
  if [ -d "$1" ]; then
    PATH="$1:$PATH"
  fi
}

# Example usage of the function
add_to_path "/srv/sms/bin"

export PATH

